.main-content{
  overflow: hidden;
  display: block;
  position: relative;
  min-height: calc(100vh - 56px); 
}

.btn {
  background-color: #1a78c2;
  color: white;
}

footer {
  background-color: #1a78c2;
  color: #a3c9e7;
  width: 100%;
}

.spinner-border {
  color: #1a78c2;
}
