.btn {
  background-color: #1a78c2;
  color: white;
}

.page-footer {
  background-color: #1a78c2;
  color: #a3c9e7;
  position: fixed;
  z-index: 2;
  bottom: 0px;
  width: 100%;
}

.spinner-border {
  color: #1a78c2;
}
