html {
  height: 0px;
}

body {
  font-family: "centuryGothic";
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.celine-peach-sans {
  font-family: "celinePeachSans";
}

.celine-peach-script {
  font-family: "celinePeachScript";
}

.century-gothic {
  font-family: "centuryGothic";
}

#custom-input::placeholder {
  text-align: center;
  color: #939393;
}

#custom-input:focus {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#splash {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: grey;

  animation: splashOut 1s 1;
  -webkit-animation: splashOut 1s 1;
  animation-fill-mode: forwards;

  animation-delay: 1.5s;
}

@keyframes splashOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
