@font-face {
  font-family: "celinePeachSans";
  src: url(./fonts/celine_peach/Celine_Peach_Sans.ttf);
}

@font-face {
  font-family: "celinePeachScript";
  src: url(./fonts/celine_peach/Celine_Peach_Script.ttf);
}

@font-face {
  font-family: "centuryGothic";
  src: url(./fonts/Century_Gothic/Century_Gothic.ttf);
}
